.about {
    background-color: $color-primary;
    overflow: hidden;
    position: relative;

    background-image: linear-gradient(rgba($color-primary, 0.6), rgba($color-primary, 0.92)), url(/resources/css/img/about.jpg);
    background-size: cover;
    background-attachment: fixed;

    &__bio {
        grid-column: center-start / col-end 3;
        justify-self: center;
        text-align: center;
        margin-top: -5rem;

        position: relative;
        padding: 7rem;
        border-radius: .2rem;
        overflow: hidden;

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            margin-top: 0;
        }

        &::after {
            content: '';;
            background: inherit; 
            position: absolute;
            left: -25px;
            right: 0;
            top: -25px;  
            bottom: 0;
            box-shadow: inset 0 0 0 200px rgba(255,255,255,0.07);
            filter: blur(10px);
        }

        &--title {
            position: relative;
        }
        &--img {
            img {
                position: relative;
                height: 25rem;
                border: .9rem solid $color-grey-light;
                border-radius: 50%;

                @media only screen and (max-width: $bp-mdsmall) {
                    height: 20rem;
                }
                @media only screen and (max-width: $bp-exsmall) {
                    height: 15rem;
                }
            }
        }

    }
    &__text {
        grid-column: col-start 4 / center-end;
        padding: 0 8rem;
        margin-top: -5rem;
        
        text-align: justify;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.45;

        display: flex;
        flex-direction: column;
        align-content: space-between;
        p {
            margin-bottom: 1rem;
        }

        @media only screen and (max-width: $bp-smmedium) {
            padding-left: 6rem;
            padding-right: 0rem;
        }
        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            margin: 5rem 0;
            padding: 0 7rem;
        }
        @media only screen and (max-width: $bp-mdsmall) {
            margin: 2rem 0;
            padding: 3rem;
        }
        @media only screen and (max-width: $bp-exsmall) {
            padding: 0;
        }
    }

    &__skills {
        margin-top: 5rem;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            margin-top: 0;
        }

        &--name {
            display: flex;
            justify-content: space-between;
        }
        &--item {
            width: 100%;
            background-color: $color-grey-dark;
            border-radius: 10rem;

            .progress-bar {
                padding: .2rem 0;
                position: relative;
                background-color: $color-grey-light;
                border-radius: 10rem;
            }
            .html { width: 80%; }
            .css { width: 75%; }
            .sass { width: 75%; }
            .js { width: 55%; }
        }
    }
}