/* Colors */
$color-primary: #2652be;
$color-primary-light: #dfeff8;
$color-primary-dark: #2f01d5;

$color-secondary: #34aa5bea;

$color-grey-light: #f5f5f5;
$color-grey-dark: #858585;

$color-light: #fff;
$color-dark: #3a3a3a;

// Responsive Breakpoints
$bp-ultralarge: 121em; // more than 1920 - 1080p
$bp-largerest: 100em; // 1600px
$bp-large: 85.38em; // 1366px
$bp-medium: 69.37em; // 1110px
$bp-smmedium: 62.5em; //1000px
$bp-small: 56.25em; //900px

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (min-width: $bp-ultralarge) {
        font-size: 87%;
    }
    @media only screen and (max-width: $bp-largerest) {
        font-size: 59%;
    }
    @media only screen and (max-width: $bp-large) {
        font-size: 55%;
    }
    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body, textarea, input {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.wave {
    grid-column: full-start / full-end;
    width: 100%;

    &__down {
        bottom: 0;
        margin-top: 5rem;
    }
}