.contact {
    background-color: $color-grey-light;

    &__info {
        grid-column: full-start / col-end 3;
        background-color: $color-primary;
        margin: 12rem 0 11rem 12rem;
        
        &--title {
            padding: 5rem 9rem;

            .heading-3 {
                font-weight: 700;
            }
        }
    }
}