.header {
    background-color: $color-grey-light;
    text-align: center;
    position: relative;
    overflow: hidden;
    pointer-events: none;

    &__text {
        grid-column: full-start / col-end 3;
        display: grid;
        grid-template-rows: 55% 20%;
        align-items: flex-end;

        margin-left: 5rem;

        @media only screen and (max-width: $bp-large) {
            grid-template-rows: 60% 20%;
            margin-left: 4rem;
        }
        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: 60% 30%;
        }
        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            grid-template-rows: 50% 20%;
            margin-left: 0;

            order: 2;
            height: 30vh;
            align-items: center;

            margin-bottom: -5rem;
        }

        @media only screen and (max-width: $bp-exsmall) {
            grid-template-rows: 40% 40%;
            align-items: center;

            order: 2;

            margin-bottom: -2rem;
        }
    }
    &__btn {
        align-self: center;
        font-weight: 700;
        
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        pointer-events: visible;
    }

    &__img {
        grid-column: col-start 4 / full-end;
        align-self: center;
        object-fit: cover;
        margin-top: -2rem;
        overflow: hidden;

        margin-bottom: 3.5rem;

        @media only screen and (max-width: $bp-small) {
            grid-column: full-start / full-end;
            order: 1;

            margin-top: 0;
            padding-left: 5rem;
            margin-bottom: 0;
        }
        @media only screen and (max-width: $bp-mdsmall) {
           padding-left: 0;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__social {
        grid-column: center-start / center-end;
        display: flex;
        justify-content: center;
        transition: all .2s;
        order: 3;
    }
}