.header {
    background-color: $color-light;
    text-align: center;
    position: relative;

    &__text {
        grid-column: full-start / col-end 3;
        display: grid;
        grid-template-rows: 55% 20%;
        align-items: flex-end;

        @media only screen and (max-width: $bp-large) {
            grid-template-rows: 60% 20%;
            padding-left: 4rem;
        }
        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: 60% 20%;
            padding-left: 0;
        }
        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            order: 2;
        }
    }
    &__btn {
        align-self: center;
        font-weight: 700;
    }

    &__img {
        grid-column: col-start 4 / full-end;
        align-self: center;
        object-fit: cover;
        margin-top: -5rem;

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / full-end;
            order: 1;
            margin-top: -10rem;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__social {
        grid-column: center-start / center-end;
        display: flex;
        justify-content: center;
        transition: all .2s;
        margin: 4rem 1rem -2rem 1rem;
        order: 3;
    }
}