.navbar {
    background-color: transparent;
    height: 10rem;
    top: 0;
    z-index: 100;
    
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    transition: all .2s ease-in;

    .logo {
        img {
            height: 7rem;
            margin-left: 15rem;
            background-color: $color-light;
            border-radius: 100rem;

            @media only screen and (max-width: $bp-largerest) {
                margin-left: 13rem;
            }
            @media only screen and (max-width: $bp-large) {
                margin-left: 10rem;
            }
            @media only screen and (max-width: $bp-medium) {
                margin-left: 5rem;
            }
            @media only screen and (max-width: $bp-small) {
                height: 5rem;
            }
        }
    }

    .nav {
        display: flex;
        list-style: none;
        margin-right: 15rem;

        @media only screen and (max-width: $bp-largerest) {
            margin-right: 12rem;
        }
        @media only screen and (max-width: $bp-large) {
            margin-right: 10rem;
        }
        @media only screen and (max-width: $bp-medium) {
            margin-right: 5rem;
        }

        transition: all .2s ease-in;

        .nav-item {
            padding: 0 2.7rem;

            @media only screen and (max-width: $bp-largerest) {
                padding: 0 2.4rem;
            }
            @media only screen and (max-width: $bp-large) {
                padding: 0 1.7rem;
            }

            &__link:link, &__link:visited {
                text-decoration: none;
                font-size: 1.7rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $color-light;
                padding-bottom: .7rem;
            }
            &__link:hover, &__link:active {
                border-bottom: 2px solid $color-primary;
            }
            &__border {
                border: none;
                position: relative;
            }
            &__border:hover, &__border:active {
                border: none;
            }
            &__border::after {
                content: '';
                position: absolute;
                width: 0px;
                height: 2px;
                left: 50%;
                bottom:0;
                background-color: $color-light;
                transition: all ease-in-out .3s;
            }
            &__border:hover::after {
                width: 100%;
                left: 0;
            }
        }
        .nav-item:last-child {

            a:link, a:visited {
                border: 1px solid $color-light;
                border-radius: 10rem;

                color: $color-light;
                padding: .8rem 4.5rem;
            }
            a:hover, a:active {
                background-color: $color-secondary;
                color: $color-light;
                transition: all .3s ease-in;
                border: 1px solid $color-secondary;
            }
        } 
    }
}

.stick {
    position: fixed;
    height: 7rem;
    top: 0;
    left: 0;
    box-shadow: 0 .2rem .1rem rgba($color-primary, .15);
    background-color: $color-light;
    width: 100%;
    z-index: 10;

    .logo {
        img {
            height: 6rem;
            margin-left: 15rem;
        }
    }

    .nav-item {
        padding: 0 3rem;

        &__link:link, &__link:visited {
            color: $color-primary !important;
        }
        &__link:hover, &__link:active {
            border-bottom: 2px solid $color-primary;
        }
        &__border {
            border: none;
            position: relative;
        }
        &__border:hover, &__border:active {
            border: none;
        }
        &__border::after {
            background-color: $color-primary !important;
            transition: all ease-in-out .3s;
        }
    }
    .nav-item:last-child {

        a:link, a:visited {
            border: 1px solid $color-secondary !important;
            border-radius: 10rem;

            color: $color-secondary !important;
            padding: .8rem 4.5rem;
        }
        a:hover, a:active {
            background-color: $color-secondary;
            color: $color-light !important;
            transition: all .3s ease-in;
            border: 1px solid $color-secondary !important;
        }
    }
}