.projects {
    grid-column: center-start / center-end;
    background-color: $color-grey-light;
    padding-bottom: 16rem;

    @media only screen and (max-width: $bp-mdsmall) {
        padding-bottom: 10rem;
    }

    &__title {
        grid-column: center-start / center-end;
        margin: 2rem 0 7rem 0;
        position: relative;
    }

    &__content {
        grid-column: center-start / center-end;
        
        display: flex;
        clear: both;
        content: "";

        @media only screen and (max-width: $bp-small) {
            flex-wrap: wrap;
            margin: 0 10rem;
        }
        @media only screen and (max-width: $bp-mdsmall) {
            margin: 0 3rem;
        }
        @media only screen and (max-width: $bp-exsmall) {
            margin: 0 0;
        }

        &--item {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            float: left;
            
            height: 45rem;

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                height: 40rem;
            }
            @media only screen and (max-width: $bp-exsmall) {
                height: 35rem;
            }
        }
    }
    
    &__item {
        display: flex;
        align-items: flex-end;
        justify-items: flex-end;
        position: relative;
        overflow: hidden;

        box-shadow: 0 .5rem 0 $color-grey-light;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;

            display: block;
        }   
        

        &--1 {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
        }
        &--2 {
            width: 50%;
            height: 50%;
        }
        &--3 {
            width: 50%;
            height: 50%;

        }
        &--4 {
            width: 50%;
            height: 50%;

        }
        &--5 {
            width: 50%;
            height: 50%;

        }

        &--link {
            height: 100%;
            width: 100%;

            box-shadow: 0 .2rem .4rem #d3d3d3;
        }

        .info {
            position: absolute;
            bottom: 0;
            right: 0;

            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: all 0.4s ease-out;
            z-index: 2;

            background-color: rgba($color-light, .6);
            border-top-left-radius: 100%;
            padding: .8rem 0 0 .8rem;
            overflow: hidden;

            height: 6rem;
            width: 6rem;

            &__title {
                display: none;
            }
            svg {
                height: 2.5rem;
                width: 2.5rem;
                position: relative;
            }
        }
    }
    &__item:hover, &__item:active {

        .info {
            border-radius: 0;
            background-color: rgba($color-light, 1);

            &__first {
                height: 100%;
                width: 100%;
            } 

            height: 100%;
            width: 100%;
            transition: all 0.4s ease-out;

            &__title {
                display: block;
            }
            &__link {
                border-radius: 1.5rem;
            }
        }     
    }
}