.services {
    background-color: $color-grey-light;
    padding-bottom: 10rem;
    @media only screen and (max-width: $bp-mdsmall) {
        padding-bottom: 5rem;
    }

    &__title {
        grid-column: center-start / center-end;
        margin-top: -10rem;
        position: relative;
        @media only screen and (max-width: $bp-mdsmall) {
            margin-top: 0;
        }
    }

    &__content {
        grid-column: center-start / center-end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 0rem;
        overflow: hidden;

        @media only screen and (max-width: $bp-mdsmall) {
            margin-top: 4rem;
        }
    }

    &__box {
        margin: 3rem 1rem;
        background-color: $color-light;
        box-shadow: 0 .2rem .4rem #d3d3d3;
        border-radius: 4px;
        padding: 4rem;
        width: 40rem;

        display: grid;
        justify-items: center;
        grid-row-gap: 1rem;

        @media only screen and (max-width: $bp-large) {
            width: 35rem;
        }
        @media only screen and (max-width: $bp-medium) {
            width: 40rem;
        }
        @media only screen and (max-width: $bp-mdsmall) {
            width: 50rem;
            margin: 1rem 1rem;
        }      
        @media only screen and (max-width: $bp-exsmall) {
            width: auto;
            margin: 1rem 0;
        }
        
        img {
            height: 10rem;
            width: 10rem;

            @media only screen and (max-width: $bp-medium) {
                height: 8rem;
                width: 8rem;
            }
            @media only screen and (max-width: $bp-small) {
                height: 6rem;
                width: 6rem;
            }
        }
    }
    &__box:hover, &__hover:active {
        box-shadow: 0 .5rem .9rem #d3d3d3;
        transition: all .2s ease;
    }
}